<footer>
    <div class="conjunto-footer">
        <div class="sector-descripcion">
            <p class="titulo-footer">HORARIO</p>
            <p class="informacion-footer">
            <div class="p1">Lunes a Viernes Oficina: 8:30am – 4:30pm</div>
            <div class="p2"> Sábado Oficina: 9:00am – 1:00pm</div>
            <div class="p3"> Teléfono +57 601 764 8155</div>
            <div class="p4">Celular: +57 314 358 0607</div>
            </p>
        </div>
        <div class="sector-descripcion">
            <p class="titulo-footer">INFORMACION</p>
            <p class="informacion-footer">
            <div class="p1">Políticas de Garantía</div>
            <div class="p2">Preguntas Frecuentes</div>
            <div class="p3">Cambios y Devoluciones</div>
            </p>
        </div>
        <div class="sector-descripcion">
            <p class="titulo-footer">SHOWROOM</p>
            <p class="informacion-footer">
            <div class="p1">Av. Cra 19 #84-85 Piso. 401</div>
            <div class="p2">Buenos Aires, Argentina</div>
            </p>
        </div>
        <div class="sector-descripcion">
            <p class="titulo-footer">SIGUENOS!</p>
            <div id="redesMobile">
                <a class="redes" href="https://www.facebook.com/"><img src="/images/facebook.png"></a>
                <a class="redes" href="https://www.instagram.com/"><img src="/images/instagram.png"></a>
                <a class="redes" href="https://www.twitter.com/"><img src="/images/twitter.png"></a>
            </div>
            <div id="redesSociales">
                <a class="red facebook" href="https://www.facebook.com/">Uno</a>
                <a class="red twitter" href="https://twitter.com/?lang=es">Dos</a>
                <a class="red instagram" href="https://www.instagram.com/">Tres</a>
                <a class="red email" href="https://www.google.com/intl/es-419/gmail/about/">Cuatro</a>
            </div>
        </div>
    </div>
    <p class="derechos-reserved">© Copyright 2022 proyecto Integrador TurisFront</p>
</footer>