<header class="main-header">
    <div class="mainheader-top">
        <a href="/" class="home">
            <img src="/images/mountain.png" class="pagina-logo">
        </a>

        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>


        <ul class="nav-bar">
            <% if(!locals.usuario){ %>
                <a href="/users/login">
                    <li class="text-navbar"><i class="fas fa-user"></i><a href="/users/login">Login</a></li>
                </a>
                <a href="/tienda">
                    <li class="text-navbar"><i class="fas fa-store"></i><a href="/tienda">Tienda</a></li>
                </a>
                <a href="/carrito">
                    <li class="text-navbar"><i class="fas fa-shopping-cart"></i><a href="/carrito">Carrito</a>
                    </li>
                </a>
                <% }else{ %>
                    <li class="welcome">Hola!
                        <%= usuario.first_name %>
                            <%= usuario.last_name %>
                    </li>
                    <a href="/users/profile">
                        <li class="text-navbar"><i class="fas fa-user"></i><a href="/users/profile">Mi perfil</a></li>
                    </a>
                    <a href="/tienda">
                        <li class="text-navbar"><i class="fas fa-store"></i><a href="/tienda">Tienda</a></li>
                    </a>
                    <a href="/carrito">
                        <li class="text-navbar"><i class="fas fa-shopping-cart"></i><a href="/carrito">Carrito</a>
                        </li>
                    </a>
                    <li>
                        <form action="/users/logout" method="post">
                            <button class="boton-cerrar-sesion" type="submit">Cerrar sesion</button>
                        </form>
                    </li>
                    <% } %>
        </ul>
    </div>
</header>