<header class="main-header">
    <div class="mainheader-top">
        <a href="/" class="home">
            <img src="/images/mountain.png" class="pagina-logo">
        </a>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="nav-bar">
            <a href="/users/login">
                <li class="text-navbar"><i class="fas fa-user"></i><a href="/users/login">Login</a></li>
            </a>
            <a href="/products/carrito">
                <li class="text-navbar"><i class="fas fa-shopping-cart"></i><a href="/products/carrito">Carrito</a></li>
            </a>
        </ul>
    </div>
</header>