<header class="main-header">
    <div class="mainheader-top">
        <a href="/" class="home">
            <img src="/images/mountain.png" class="pagina-logo">
        </a>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="nav-bar">
            <li class="text-navbar"><a href="/login">Log/in</a><i class="fas fa-user"></i></li>
            <li class="text-navbar"><a href="/carrito">Carrito</a><i class="fas fa-shopping-cart"></i></li>
        </ul>
    </div>
</header>