<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Turisfront</title>

  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/header-styles.css">
  <link rel="stylesheet" href="css/footer-styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  <%- include("./partials/header.ejs") %>
    <div class="banner">
      <div class="banner-item">
        <p class="banner-title">APRECIA la vida desde la cima de la montaña.</p>
      </div>
      <div class="banner-item">
        <p class="banner-title">EXPLORA el mundo con Trekking</p>
      </div>
      <div class="banner-item">
        <p class="banner-title">PRESENCIA la maravillosa naturaleza</p>
      </div>
      <div class="banner-item">
        <p class="banner-title">CONTEMPLA un hermoso atardecer </p>
      </div>
    </div>
    <main>
      <section class="productos-destacados">
        <h1>Productos destacados</h1>
        <div class="productos">
          <article class="caja-producto">
            <img class="imagen-producto" src="images/botas.jpg">
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion">Botas de cuero Domuyo - Montaña unisex<br></p>
              <h5>$12.500,00</h5>
            </div>
          </article>

          <article class="caja-producto">
            <img class="imagen-producto" src="images/guantes.jpg">
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion">Guantes WINTER Softshell</p>
              <h5>$12.500,00</h5>
            </div>
          </article>

          <article class="caja-producto">
            <img class="imagen-producto" src="images/chaqueta.jpg">
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion">Campera ANSILTA FUSIÓN 3 en 1 GORE-TEX</p>
              <h5>$170.900,00</h5>
            </div>
          </article>

          <article class="caja-producto">
            <img class="imagen-producto" src="images/gorros.jpg">
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion"> Sombrero Indico - Unisex</p>
              <h5>$5.500,00</h5>
            </div>
          </article>

          <article class="caja-producto">
            <img class="imagen-producto" src="images/pantalon.jpg">
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion"> Calza interior térmica POWER DRY - Mujer</p>
              <h5>$6.400,00</h5>
            </div>
          </article>

          <article class="caja-producto">
            <img class="imagen-producto" src="images/tubular.jpg">
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion">Cuello Buff Trek500 azul</p>
              <h5>$8.400,00</h5>
            </div>
          </article>

          <article class="caja-producto">
            <img class="imagen-producto" src="images/gafas.jpg">
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion">Lentes RACE-Ski SALICE </p>
              <h5>$19.500,00</h5>
            </div>
          </article>

          <article class="caja-producto">
            <a href="/detalle-producto"><img class="imagen-producto" src="images/mochilai1-miniatura.png"></a>
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion">Mochila camping montaña doite Natrang 70L</p>
              <h5>$386,400</h5>
            </div>
          </article>

          <article class="caja-producto">
            <img class="imagen-producto" src="images/chaletos-hibratacion.jpg">
            <figure>
              <i id="icono-heart" class="fas fa-heart"></i>
              <figcaption>Favoritos</figcaption>
            </figure>
            <div class="descripcion-producto">
              <p id="descripcion">Mochila de Hidratación 2 Litros - FOX</p>
              <h5>$119.000</h5>
            </div>
          </article>
        </div>
      </section>
      <div class="marcas-promos">
        <img src="images/marcas.png" alt="">
      </div>
    </main>

    <div class="cajon-referencias">
      <h1>VIVIR PARA CONTARLO</h1>
      <h4>Historias de montaña y aventura</h4>
      <section class="section-clientes">
        <div class="container-card">
          <div class="card-wrap">
            <div class="card-slide card">
              <div class="adelante-box card1"></div>
              <div class="atras-box">
                <div class="box"></div>
                <div class="card-content">
                  <div class="image">
                    <img src="images/perso1.jpg" alt="">
                  </div>

                  <div class="rating">
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                  </div>
                  <div class="about">
                    <p>Es toda una experiencia, ir bordeando la montaña con esos picos nevados, y visitar los lagos.
                      ¡hasta
                      un pequeño deslizamiento de nieve pude ver! Los campamentos, justo como se
                      describen.Fueron confiables: yo reservé con ellos y no tuve inconveniente
                      alguno.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-wrap">
            <div class="card-slide card">
              <div class="adelante-box card2"></div>
              <div class="atras-box">
                <div class="box"></div>
                <div class="card-content">
                  <div class="image">
                    <img src="images/perso2.jpg" alt="">
                  </div>

                  <div class="rating">
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                  </div>
                  <div class="about">
                    <p>¡Esta es verdaderamente una experiencia única en la vida! Siempre habia sido un sueño mío hacer
                      el
                      recorrido. El viaje y toda la experiencia fue aún más increíble de lo que
                      jamás hubiera imaginado. Fue realmente increíble. Los recomiendo completamente.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-wrap">
            <div class="card-slide card">
              <div class="adelante-box card3"></div>
              <div class="atras-box">
                <div class="box"></div>
                <div class="card-content">
                  <div class="image">
                    <img src="images/perso3.jpg" alt="">
                  </div>

                  <div class="rating">
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                    <i class="fas -solid fa-star"></i>
                  </div>
                  <div class="about">
                    <p>Esta ruta de trekking es espetacular y hacerla con esta agencia ha sido todo un acierto. Grupos
                      reducidos con tu propio guía, cocinero y portador. El guía súper, sabía de todo
                      (historia, leyendas, fauna, flora...), el cocinero espectacular, seguro que engordamos y todo con
                      lo
                      que nos mimó! y el portador muy amable, atento y simpático.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include("./partials/footer.ejs") %>

      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>


</body>

</html>