<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-styles.css">
    <link rel="stylesheet" href="/css/footer-styles.css">
    <link rel="stylesheet" href="/css/styles-forms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fontawesome.com/icons" rel="stylesheet">
    <title>Turist Front</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <div class="register">
            <div class="register-top">
                <h2 class="copy-register">Ingresá tus datos</h2>
                <form action="/register" method="post" class="form-register">
                    <div>
                        <input type="text" name="name" placeholder="Nombre">
                    </div>
                    <div>
                        <input type="text" name="surname" placeholder="Apellido">
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="E-mail">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Contraseña">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Confirmar contraseña">
                    </div>
                    <div class="button">
                        <button type="submit">Registrarse</button>
                    </div>
                </form>
                <p class="copy-login">¿Ya tienes cuenta? Ingresa <a class="login-button" href="/login">aqui</a></p>
            </div>
            <div class="register-bottom">
                <div class="register" href="#">
                    <p>Ingresar con Google</p>
                    <img src="/images/google.png" class="img-logo-app">
                </div>
                <div class="register" href="#">
                    <p>Ingresar con Facebook</p>
                    <img src="/images/facebook.png" class="img-logo-app">
                </div>
                <div class="register" href="#">
                    <p>Ingresar con Apple</p>
                    <img src="/images/apple.png" class="img-logo-app">
                </div>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>
</body>

</html>