:root {
    --blanco: #f0f0f0;
    --celeste: #0077c0;
    --azul: #0022aa;
    --negroClaro: #161616;
    --negroOscuro: #0e0e0e;
    --grisClaro: #dfdddd;
    --grisOscuro: #636262;
}

body {
    background-image: url("/images/img-register.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

.contenedor-principal {
    background-color: rgba(255, 255, 255, 0.733);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 50%);
    border-radius: 6px;
    padding: 3em;
    margin-top: 5em;
}

main {
    display: flex;
    justify-content: center;
    margin: 10em;
    margin-top: 0;
}

.boton-borrar {
    background-color: #c00000;
    border: #c00000 2px solid;
    border-radius: 6px;
    width: 15%;
    padding: 5em;
    margin: 1em;
    cursor: pointer;
    transition: all 400ms;
}

.botones {
    display: flex;
    justify-content: center;
}

.boton-tienda {
    background-color: var(--grisClaro);
    border: var(--grisClaro) 2px solid;
    border-radius: 6px;
    width: 15%;
    padding: 5em;
    margin: 1em;
    cursor: pointer;
    transition: all 400ms;
}

.boton-tienda a {
    text-decoration: none;
    color: black;
}

.boton-tienda:hover {
    -webkit-box-shadow: 0px 2px 4px 6px rgb(180, 180, 180);
    -moz-box-shadow: 0px 2px 4px 6px rgba(143, 141, 143, 1);
    box-shadow: 0px 2px 4px 6px rgba(143, 141, 143, 1);
    z-index: 10;
}

.boton-borrar:hover {
    -webkit-box-shadow: 0px 2px 4px 6px rgb(180, 180, 180);
    -moz-box-shadow: 0px 2px 4px 6px rgba(143, 141, 143, 1);
    box-shadow: 0px 2px 4px 6px rgba(143, 141, 143, 1);
    z-index: 10;
}