:root {
  --blanco: #f0f0f0;
  --celeste: #0077c0;
  --azul: #0022aa;
  --negroClaro: #161616;
  --negroOscuro: #0e0e0e;
  --grisClaro: #dfdddd;
  --grisOscuro: #636262;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/images/img-register.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  border-radius: 10px;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.733);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 50%);
}

.titulo-carrito {
  padding-bottom: 8%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px #ebebeb solid;
}

.titulo-carrito {
  position: relative;
  top: 10px;
  margin-bottom: 0;
  margin-left: 5%;
  margin-right: 15%;
  font-size: 26px;
}

.bloque-carrito-desktop {
  display: flex;
}

/* Productos Carrito */

.productos-carrito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bloque-producto {
  display: flex;
  justify-content: space-between;
}

.imagen-producto-muestra {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 60px;
  margin-top: 15%;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  transition: all 300ms;
}

.imagen-producto-muestra:hover {
  border: solid 2px #3483fa;
  transform: scale(1.1);
  z-index: 10;
}

.stock-disponible {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 8px;
}

.text-stock {
  margin-left: 5%;
}

.iconos-stock {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px 5% 0;
  margin-bottom: 5px;  
  padding: 0 3px;
  border-radius: 2px;
}

.cantidad-stock {
  position: relative;
  right: 28%;
}

.icono-mas {
  background-color: white;
  border-bottom: #ebebeb solid 1px;
  margin-bottom: 2;
  cursor: pointer;
}

.icono-menos{
  cursor: pointer;
}

.imagenes-muestra {
  display: none;
}

.precio {
  display: flex;
  margin-right: 10%;
  margin-left: 5%;
  flex-direction: column;
}

.texto-color-producto {
  margin-left: 5%;
}


/* Panel Compra */

.resumen,
.lista-agregados,
.total,
.botones {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resumen .resumen-titulo {
  position: relative;
  margin: 10%;
}

.resumen-titulo i {
  position: relative;
  color: var(--celeste);
  left: 10%;
}

.producto-agregado,
.sub-total,
.cuotas {
  display: flex;
  margin: 0 10% 0 10%;
  justify-content: space-between;
}

.producto-agregado p {
  margin: 0 0 5% 0;
  font-size: 0.85rem;
  font-weight: bolder;
}

.precio-total {
  position: relative;
  top: 20px;
  font-weight: 400;
}

.cuotas p {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--azul);
  margin-top: 0;
}

.boton-comprar {
  background-color: var(--celeste);
  border-color: transparent;
  color: #fff;
  border-radius: 6px;
  line-height: 30px;
  margin-top: 10%;
  transition: all 300ms;
  cursor: pointer;
}

.boton-carro {
  background-color: rgba(65, 137, 230, 0.15);
  border-color: transparent;
  color: #0077c0;
  border-radius: 6px;
  line-height: 30px;
  margin-top: 3%;
  cursor: pointer;
  transition: all 300ms;
}

.descuento {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descuento h3 {
  text-align: center;
  margin-top: 10%;
}

.descuento input,
button {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.descuento input[type="text"] {
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  border: 1px var(--grisClaro) solid;
  border-radius: 0.3rem;
  font-weight: bolder;
}

.descuento button {
  margin-bottom: 10%;
}

.panel-compra button {
  font-size: 1rem;
}

.boton-comprar:hover {
  background-color: #1c60c7;
}

.boton-carro:hover {
  background-color: rgba(40, 87, 150, 0.15);
}

/* Fin Panel Compra */

@media (min-width: 768px) {
  
  .imagen-producto {
    margin-top: 2%;
  }

  .precio {
    margin-left: 20%;
    margin-bottom: 0;
  }

  .stock-disponible {
    max-width: 65%;
    margin-left: 17%;
  }

  .botones-compra-carro {
    max-width: 65%;
    margin-left: 17%;
  }

  .box-informacion {
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
  }

  .titulo-carrito {
    font-size: 25px;
    text-align: left;
    font-weight: 400;
    padding-top: 5%;
    padding-left: 15%;
  }
}

@media (min-width: 1080px) { 

  main {
    display: block;
    margin: auto;
    margin-bottom: 1.5%;
    width: 70%;
  }

  .imagen-producto {
    position: relative;
    margin-right: 12%;
    width: 2000px;
    top: 20%;
  }

  .productos-carrito {
    width: 600%;
  }

  .imagenes-muestra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
  }

  .botones-compra-carro {
    margin-bottom: 2%;
  }
}

@media (min-width: 1400px) {

  .titulo-carrito {
    text-align: left;
    padding: 2% 0 2% 3%;    
    margin-left: 0%;
    margin-top: 2%;
  }

  .productos-carrito {
    width: 60%;
  }

  .panel-compra {
    width: 500%;
  }

  .productos-carrito {
    width: 600%;
  }

  .botones-compra-carro {
    margin-bottom: 2%;
  }

  .precio {
    margin-left: 18%;
    margin-top: 2%;
  }
}

@media (min-width: 1800px) {
  .panel-compra {
    width: 300%;
  }

  .productos-carrito {
    width: 300%;
  }

}
