:root {
  --blanco: #f0f0f0;
  --celeste: #0077c0;
  --azul: #0022aa;
  --negroClaro: #161616;
  --negroOscuro: #0e0e0e;
  --grisClaro: #dfdddd;
  --grisOscuro: #636262;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-color: rgba(128, 128, 128, 0.212);
  border-radius: 10px;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 5px;
}

.titulo-producto {
  padding-bottom: 8%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 1px #ebebeb solid;
}

.imagen-producto {
  max-width: 50%;
  display: block;
  margin: auto;
  padding-top: 2%;
  border-radius: 15px;
}

.color-producto {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 8px;
}

.imagen-color-producto {
  max-width: 30px;
  max-height: 40px;
  margin-right: 5%;
  margin-top: 2%;
}

.texto-color-producto {
  margin-left: 5%;
}

.precio {
  display: flex;
  margin-right: 10%;
  margin-left: 5%;
  flex-direction: column;
}

.precio-cuotas {
  position: relative;
  bottom: 15px;
}

.precio-total {
  position: relative;
  top: 20px;
  font-weight: 400;
}

.precio-total i {
  position: relative;
  color: #39b54a;
  left: 2%;
}

.stock-disponible {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 8px;
}

.text-stock {
  margin-left: 5%;
}

.iconos-stock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 5%;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.cantidad-stock {
  position: relative;
  right: 28%;
}

.icono-mas {
  background-color: white;
  border-bottom: #ebebeb solid 1px;
}

.botones-compra-carro {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-left: 10%;
}

.boton-comprar {
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
  border-radius: 6px;
  line-height: 30px;
  margin-top: 10%;
}

.boton-carro {
  background-color: rgba(65, 137, 230, 0.15);
  border-color: transparent;
  color: #3483fa;
  border-radius: 6px;
  line-height: 30px;
  margin-top: 3%;
}

.box-informacion {
  border-top: #ebebeb solid 1px;
  margin-top: 10%;
}

.informacion-producto {
  margin: 5%;
}

.titulo-informacion {
  font-size: 20px;
  font-weight: 400;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.9);
}

.texto-informacion {
  font-size: 16px;
  font-weight: 400;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.9);
}

.imagenes-muestra {
  display: none;
}

@media (min-width: 768px) {
  .titulo-producto {
    position: relative;
    top: 10px;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 15%;
    font-size: 26px;
  }

  .imagen-producto {
    margin-top: 2%;
  }

  .color-producto {
    max-width: 65%;
    margin-left: 17%;
    margin-top: 0;
    margin-bottom: 2%;
  }

  .precio {
    margin-left: 20%;
    margin-bottom: 0;
  }

  .stock-disponible {
    max-width: 65%;
    margin-left: 17%;
  }

  .botones-compra-carro {
    max-width: 65%;
    margin-left: 17%;
  }

  .box-informacion {
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
  }

  .titulo-producto {
    font-size: 25px;
    text-align: left;
    font-weight: 400;
    padding-top: 5%;
    padding-left: 15%;
  }


}

@media (min-width: 1080px) {
  main {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
  }

  .titulo-producto {
    margin: auto;
    padding: 0;
    text-align: left;
    margin-left: 0%;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
  }

  main {
    display: block;
    margin: auto;
    margin-bottom: 1.5%;
    width: 70%;
  }

  .imagen-producto {
    position: relative;
    margin-right: 12%;
    width: 2000px;
    top: 12%;

  }

  .imagen-producto2,
  .imagen-producto3,
  .imagen-producto4,
  .imagen-producto5 {
    margin-right: 15%;
    width: 2000px;
    padding-bottom: 20px;
    margin-top: 7%;
  }

  .bloque-producto-desktop {
    display: flex;
  }

  .imagenes-totales-producto {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .imagen-color-producto {
    margin: 0;
    margin-right: 4%;
    margin-top: 1%;
  }

  .imagenes-muestra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
  }

  .icono-mas {
    margin-bottom: 2;
    cursor: pointer;
  }

  .icono-menos {
    cursor: pointer;
  }

  .botones-compra-carro {
    margin-bottom: 2%;
  }

  .imagen-producto-muestra1,
  .imagen-producto-muestra2,
  .imagen-producto-muestra3,
  .imagen-producto-muestra4,
  .imagen-producto-muestra5 {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 60px;
    margin-top: 15%;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    transition: all 300ms;
  }

  .imagen-producto-muestra1:hover,
  .imagen-producto-muestra2:hover,
  .imagen-producto-muestra3:hover,
  .imagen-producto-muestra4:hover,
  .imagen-producto-muestra5:hover {
    border: solid 2px #3483fa;
    transform: scale(1.1);
    z-index: 10;
  }

  .precio {
    margin-left: 18%;
    margin-top: 2%;
  }

  .boton-carro {
    cursor: pointer;
    background-color: rgba(65, 137, 230, 0.15);
    transition: all 300ms;
  }

  .boton-carro:hover {
    background-color: rgba(40, 87, 150, 0.15);
  }

  .boton-comprar {
    cursor: pointer;
    background-color: #3483fa;
    transition: all 300ms;
  }

  .boton-comprar:hover {
    background-color: #1c60c7;
  }
}

@media (min-width: 1400px) {
  body {
    background-color: rgba(128, 128, 128, 0.212);
  }  

  main {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
  }

  .titulo-producto {
    margin: auto;
    padding: 0;
    text-align: left;
    margin-left: 0%;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
  }

  main {
    display: block;
    margin: auto;
    margin-bottom: 1.5%;
    width: 70%;
  }

  .imagen-producto {
    position: unset;
    margin-right: 12%;
    width: 1800px;
    padding-bottom: 0;
    margin-top: 20%;
  }

  .imagen-producto2,
  .imagen-producto3,
  .imagen-producto4,
  .imagen-producto5 {
    margin-right: 15%;
    width: 2000px;
    padding-bottom: 20px;
    margin-top: 7%;
  }

  .bloque-producto-desktop {
    display: flex;
  }

  .imagenes-totales-producto {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .imagen-color-producto {
    margin: 0;
    margin-right: 4%;
    margin-top: 1%;
  }

  .imagenes-muestra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
  }

  .icono-mas {
    margin-bottom: 2;
    cursor: pointer;
  }

  .icono-menos {
    cursor: pointer;
  }

  .botones-compra-carro {
    margin-bottom: 2%;
  }

  .imagen-producto-muestra1,
  .imagen-producto-muestra2,
  .imagen-producto-muestra3,
  .imagen-producto-muestra4,
  .imagen-producto-muestra5 {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 60px;
    margin-top: 15%;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    transition: all 300ms;
  }

  .imagen-producto-muestra1:hover,
  .imagen-producto-muestra2:hover,
  .imagen-producto-muestra3:hover,
  .imagen-producto-muestra4:hover,
  .imagen-producto-muestra5:hover {
    border: solid 2px #3483fa;
    transform: scale(1.1);
    z-index: 10;
  }

  .precio {
    margin-left: 18%;
    margin-top: 2%;
  }

  .boton-carro {
    cursor: pointer;
    background-color: rgba(65, 137, 230, 0.15);
    transition: all 300ms;
  }

  .boton-carro:hover {
    background-color: rgba(40, 87, 150, 0.15);
  }

  .boton-comprar {
    cursor: pointer;
    background-color: #3483fa;
    transition: all 300ms;
  }

  .boton-comprar:hover {
    background-color: #1c60c7;
  }
}

@media (min-width: 1800px) {
  body {
    background-color: rgba(128, 128, 128, 0.212);
  }

  .pagina-logo {
    margin-top: 2%;
    margin-left: 60%;
  }

  .mainheader-top {
    background-color: var(--celeste);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  }

  main {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
  }

  .nav-bar {
    display: block;
  }

  .hamburger-button {
    display: none;
  }

  .nav-bar {
    list-style: none;
    display: flex;
    margin: 5% 5% 0 0;
    color: var(--blanco);
    margin-right: 15%;
  }

  .text-navbar {
    padding: 10px;
  }

  .text-navbar a {
    color: var(--blanco);
  }

  .titulo-producto {
    margin: auto;
    padding: 0;
    text-align: left;
    margin-left: 0%;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
  }

  main {
    display: block;
    margin: auto;
    margin-bottom: 1.5%;
    width: 70%;
  }

  .imagen-producto {
    position: unset;
    margin-right: 12%;
    width: 1800px;
    padding-bottom: 5%;
    margin-top: 5%;
  }

  .imagen-producto2,
  .imagen-producto3,
  .imagen-producto4,
  .imagen-producto5 {
    margin-right: 15%;
    width: 2000px;
    padding-bottom: 20px;
    margin-top: 7%;
  }

  .bloque-producto-desktop {
    display: flex;
  }

  .imagenes-totales-producto {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .imagen-color-producto {
    margin: 0;
    margin-right: 4%;
    margin-top: 1%;
  }

  .imagenes-muestra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
  }

  .icono-mas {
    margin-bottom: 2;
    cursor: pointer;
  }

  .icono-menos {
    cursor: pointer;
  }

  .botones-compra-carro {
    margin-bottom: 2%;
  }

  .imagen-producto-muestra1,
  .imagen-producto-muestra2,
  .imagen-producto-muestra3,
  .imagen-producto-muestra4,
  .imagen-producto-muestra5 {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 60px;
    margin-top: 15%;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    transition: all 300ms;
  }

  .imagen-producto-muestra1:hover,
  .imagen-producto-muestra2:hover,
  .imagen-producto-muestra3:hover,
  .imagen-producto-muestra4:hover,
  .imagen-producto-muestra5:hover {
    border: solid 2px #3483fa;
    transform: scale(1.1);
    z-index: 10;
  }

  .precio {
    margin-left: 18%;
    margin-top: 2%;
  }

  .boton-carro {
    cursor: pointer;
    background-color: rgba(65, 137, 230, 0.15);
    transition: all 300ms;
  }

  .boton-carro:hover {
    background-color: rgba(40, 87, 150, 0.15);
  }

  .boton-comprar {
    cursor: pointer;
    background-color: #3483fa;
    transition: all 300ms;
  }

  .boton-comprar:hover {
    background-color: #1c60c7;
  }
}

/*Redes Sociales*/
#redesSociales {
  margin-top: 15%;

  position: relative;
  right: 50%;
  width: 50px;
  height: 50px;
  border-radius: 75px;
  border: 5px solid #fff;
  background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg);
}

.red {
  position: absolute;
  -webkit-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -moz-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -o-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 100;
  margin: 10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left: 0px;
  bottom: -9%;
}

#redesSociales:hover .red {
  opacity: 1;
  transform: translate(0px, 0);
  -webkit-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  margin: 10px 0px 0px 20px;
  position: absolute;
}

#redesSociales:hover .red:nth-child(1) {
  position: absolute;
  left: 35px;
}

#redesSociales:hover .red:nth-child(2) {
  position: absolute;
  left: 80px;
}

#redesSociales:hover .red:nth-child(3) {
  position: absolute;
  left: 125px;
}

#redesSociales:hover .red:nth-child(4) {
  position: absolute;
  left: 170px;
}

.red.facebook {
  background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
}

.red.twitter {
  background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
}

.red.email {
  background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
}

.red.instagram {
  background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
}

.red:hover {
  background-position: 0 -46px;
}