* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    margin: 0;
    background-color: rgb(242 242 242);
}

div.information-profile{
    padding: 5%;
}



form.information-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(187, 187, 187, 0.5);
}

label {
    font-weight: bold;
    padding: 20px 0 10px;

}

input{
    border: none;
    border-bottom: 1px solid rgba(194, 194, 194, 0.644);
    padding: 10px 0 5px 0;
    transition: font-size 300ms
}

input:focus {
    outline: none;
    font-size: 15px;
  }

p.errors{
    color: rgb(212, 3, 3)
}

div.buttons{
    display: flex;
    justify-content: space-around;
    margin:  40px 0 20px 0;
}

button.submit{
    border: none;
    background-color: #0077c0;
    color: white;
    padding: 15px;
    margin: 10px;
    max-width: 300px;
    width: 50%;
    border-radius: 5px;
    transition: background-color 450ms;
}

button.submit:hover{
    background-color: #033b91;
}

button.reset{
    border: none;
    background-color: #000000;
    color: white;
    padding: 15px;
    margin: 10px;
    max-width: 300px;
    width: 50%;
    border-radius: 5px;
    transition: background-color 450ms;
}

button.reset:hover{
    background-color: #272727;;
}

@media (min-width:1081px){

    div.information-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 70px 50px 70px;
    }
    form.information-list{
        width: 70%;
    }
    

    input{
        border: none;
        border-bottom: 1px solid rgba(194, 194, 194, 0.644);
        padding: 10px 0 5px 0;
        transition: font-size 300ms
    }
    
    input:focus {
        outline: none;
        font-size: 18px;
      }
}