/* FOOTER BASE MOBILE */

:root {
  --blanco: #f0f0f0;
  --celeste: #0077c0;
  --azul: #0022aa;
  --negroClaro: #161616;
  --negroOscuro: #0e0e0e;
  --grisClaro: #dfdddd;
  --grisOscuro: #636262;

  --facebook: #3b5999;
  --instagram: #e4405f;
  --whatsaap: #43ba50;
  --email: #4878a4;
}

footer {
  display: block;
  flex-direction: row;
  margin: 0;
  justify-content: center;
}

.conjunto-footer {
  margin-top: 4%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--negroOscuro);
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: space-between;
}

.sector-descripcion {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  color: var(--blanco);
}

.titulo-footer {
  font-size: 22px;
  text-align: center;
  margin-bottom: -3%;
}

.p1,
.p2,
.p3,
.p4 {
  text-align: center;
}

.informacion-footer {
  display: block;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

.derechos-reserved {
  background-color: var(--negroClaro);
  color: var(--blanco);
  text-align: center;
  border-top: var(--grisOscuro) 1px solid;
  margin: 0;
}
@media (max-width: 450px) {
  #redesSociales {
    display: flex;
    margin-top: 15px;
  }
  #redesSociales a {
    display: none;
  }
  /* redes sociales para mobil y tablet*/
  .redes-container {
    display: flex;

    align-items: center;
    justify-content: center;
  }
  .redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    list-style: none;
  }

  .redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .redes-container ul:hover a {
    filter: blur(2px);
  }
  .redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
  }
  .redes-container ul li .facebook:hover {
    background: var(--facebook);
  }
  .redes-container ul li .instagram:hover {
    background: var(--instagram);
  }
  .redes-container ul li .whatsapp:hover {
    background: var(--whatsaap);
  }
  .redes-container ul li .email:hover {
    background: var(--email);
  }
}

@media (min-width: 450px) {
  #redesSociales {
    display: flex;
  }
  #redesSociales a {
    display: none;
  }
  .p1,
  .p2,
  .p3,
  .p4 {
    margin-bottom: 0.5%;
  }

  .titulo-footer {
    margin-bottom: 1%;
  }
  /* redes sociales para mobil y tablet*/
  .redes-container {
    display: flex;

    align-items: center;
    justify-content: center;
  }
  .redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    list-style: none;
  }

  .redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .redes-container ul:hover a {
    filter: blur(2px);
  }
  .redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
  }
  .redes-container ul li .facebook:hover {
    background: var(--facebook);
  }
  .redes-container ul li .instagram:hover {
    background: var(--instagram);
  }
  .redes-container ul li .whatsapp:hover {
    background: var(--whatsaap);
  }
  .redes-container ul li .email:hover {
    background: var(--email);
  }
}
@media (min-width: 768px) {
  #redesSociales {
    display: flex;
  }
  #redesSociales a {
    display: none;
  }
  /* redes sociales para mobil y tablet*/
  .redes-container {
    display: flex;

    align-items: center;
    justify-content: center;
  }
  .redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    list-style: none;
  }

  .redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  .redes-container ul:hover a {
    filter: blur(2px);
  }
  .redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
    filter: none;
  }
  .redes-container ul li .facebook:hover {
    background: var(--facebook);
  }
  .redes-container ul li .instagram:hover {
    background: var(--instagram);
  }
  .redes-container ul li .whatsapp:hover {
    background: var(--whatsaap);
  }
  .redes-container ul li .email:hover {
    background: var(--email);
  }
}

@media (min-width: 1080px) {
  footer {
    display: block;
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }

  .conjunto-footer {
    display: flex;
    flex-direction: row;
    background-color: var(--negroOscuro);
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
  }

  .sector-descripcion {
    color: var(--blanco);
    margin-left: 5%;
    margin-right: 5%;
  }

  .derechos-reserved {
    background-color: var(--negroClaro);
    color: var(--blanco);
    border-top: var(--grisOscuro) 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .redes-container {
    display: none;
  }

  /* redes sociales del footer */
  #redesSociales {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 75px;
    border: 5px solid #fff;
    margin-right: 100px;
    background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg);
  }
  #redesSociales a {
    display: block;
  }
  .red {
    position: absolute;
    -webkit-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
    -moz-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
    -o-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
    display: inline;
    opacity: 0;
    width: 46px;
    height: 46px;
    z-index: 100;
    margin: 10px 0px 0px 20px;
    text-indent: -9999px;
    background: no-repeat;
    left: 0px;
  }

  #redesSociales:hover .red {
    opacity: 1;
    transform: translate(0px, 0);
    -webkit-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    margin: 10px 0px 0px 20px;
    position: absolute;
  }

  #redesSociales:hover .red:nth-child(1) {
    position: absolute;
    left: 35px;
  }

  #redesSociales:hover .red:nth-child(2) {
    position: absolute;
    left: 80px;
  }

  #redesSociales:hover .red:nth-child(3) {
    position: absolute;
    left: 125px;
  }

  #redesSociales:hover .red:nth-child(4) {
    position: absolute;
    left: 170px;
  }

  .red.facebook {
    background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
  }

  .red.twitter {
    background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
  }

  .red.email {
    background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
  }

  .red.instagram {
    background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
  }

  .red:hover {
    background-position: 0 -46px;
  }
}
