/* FOOTER BASE MOBILE */

:root {
  --blanco: #f0f0f0;
  --celeste: #0077c0;
  --azul: #0022aa;
  --negroClaro: #161616;
  --negroOscuro: #0e0e0e;
  --grisClaro: #dfdddd;
  --grisOscuro: #636262;
}

footer {
  display: block;
  flex-direction: row;
  margin: 0;
  justify-content: center;
}

.conjunto-footer {
  margin-top: 4%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--negroOscuro);
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: space-between;
}

.sector-descripcion {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  color: var(--blanco);
}

.titulo-footer {
  font-size: 22px;
  text-align: center;
  margin-bottom: -3%;
}

.p1,
.p2,
.p3,
.p4 {
  text-align: center;
}

.informacion-footer {
  display: block;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

.derechos-reserved {
  background-color: var(--negroClaro);
  color: var(--blanco);
  text-align: center;
  border-top: var(--grisOscuro) 1px solid;
  margin: 0;
}

@media (min-width: 768px) {
}

@media (min-width: 1080px) {
  footer {
    display: block;
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }

  .conjunto-footer {
    display: flex;
    flex-direction: row;
    background-color: var(--negroOscuro);
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
  }

  .sector-descripcion {
    color: var(--blanco);
    margin-left: 5%;
    margin-right: 5%;
  }

  .derechos-reserved {
    background-color: var(--negroClaro);
    color: var(--blanco);
    border-top: var(--grisOscuro) 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

/* redes sociales del footer */
#redesSociales {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 75px;
  border: 5px solid #fff;
  margin-right: 100px;
  background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg);
}

.red {
  position: absolute;
  -webkit-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -moz-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -o-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 100;
  margin: 10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left: 0px;
}

#redesSociales:hover .red {
  opacity: 1;
  transform: translate(0px, 0);
  -webkit-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  margin: 10px 0px 0px 20px;
  position: absolute;
}

#redesSociales:hover .red:nth-child(1) {
  position: absolute;
  left: 35px;
}

#redesSociales:hover .red:nth-child(2) {
  position: absolute;
  left: 80px;
}

#redesSociales:hover .red:nth-child(3) {
  position: absolute;
  left: 125px;
}

#redesSociales:hover .red:nth-child(4) {
  position: absolute;
  left: 170px;
}

.red.facebook {
  background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
}

.red.twitter {
  background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
}

.red.email {
  background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
}

.red.instagram {
  background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
}

.red:hover {
  background-position: 0 -46px;
}
