:root {
  --blanco: #f0f0f0;
  --celeste: #0077c0;
  --azul: #0022aa;
  --negroClaro: #161616;
  --negroOscuro: #0e0e0e;
  --grisClaro: #dfdddd;
  --grisOscuro: #636262;
}

* {
  font-family: "Roboto", sans-serif;
}

.nav-bar,
.nav-bar i,
.nav-bar ul,
.nav-bar a {
  display: none;
}

body {
  margin: 0;
  background-image: url("/images/img-register.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0077c0;
  border-bottom: 1px solid #9c9d9e;
}

a.home {
  width: 120px;
}

.pagina-logo img {
  width: 25%;
  cursor: pointer;
  margin-left: 5%;
}

.mainheader-top {
  background-color: #0077c0;
}

a.nav-button {
  padding-right: 25px;
}

a.nav-button i {
  font-size: 25px;
  color: black;
}

.pagina-logo {
  width: 100%;
  padding-left: 0;
}

.listado_errores {
  text-decoration: none;
}

ul.nav-bar {
  display: none;
}

ul.nav-bar li {
  list-style-type: none;
  padding: 10px;
  margin-right: 30px;
}

ul.nav-bar li a {
  font-size: 18px;
  transition: border-bottom 100ms;
}

ul.nav-bar li a:hover {
  border-bottom: 3px solid white;
}

div.register-top {
  border-radius: 10px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.733);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 50%);
}

h2.copy-register {
  margin:auto;
  margin-bottom: 30px;
  width: 80%;
  font-size: 1.15em;
  padding-top: 5%;
}

form.form-register {
  margin: auto;
}

form.form-register div {
  width: 80%;
  margin: auto;
}

.label-form {
  margin-left: 5px;
  font-weight: bold;
}


.validacion-estado-icono{
  margin: 0px 5px 5px 5px;
  font-size: 14px;
  opacity: 0;
  background-color: white;
  border-radius: 100%;
}

/*--VALIDACION ICONO--*/

.success-validation .validacion-estado-icono {
  color: rgba(0, 209, 17, 0.767);
  opacity: 1;
}

.error-validation .validacion-estado-icono {
  color: rgba(255, 0, 0, 0.767);
  opacity: 1;
}

.estado-input {
  width: 100%;
  max-width: -webkit-fill-available;
  margin: 10px 0;
  padding: 0.75rem 1rem;
  outline: none;
  border-radius: 10px;
  background-color: white;
  transition: .3s ease all;
  border: 1px solid #a8a8a8;
}

.estado-input:focus {
  border: 2px solid #0075FF;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

/*--VALIDACION CAMPOS--*/

.success-validation .estado-input{
  border: 1px solid rgba(0, 209, 17, 0.767);
}
.error-validation .estado-input{
  border: 1px solid rgba(255, 0, 0, 0.767);
}

form.form-register p.errors {
  color: rgba(255, 0, 0, 0.767);
  font-size: 13px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 10px;
}

form.form-register p.errorFront {
  color: rgba(255, 0, 0, 0.767);
  font-size: 13px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 10px;
}

form.form-register div button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: 1px solid var(--celeste);
  border-radius: 10px;
  color: white;
  background-color: #3483fa;
  font-size: 16px;
  line-height: 1.2;
  transition: background-color 450ms;
}

form.form-register div button:hover {
  background-color: #1c60c7;
}

p.copy-login {
  text-align: center;
  margin: 5% 0 10%;
  padding-bottom: 20px;
}

a.login-button {
  text-decoration: underline;
  color: #0077c0;
}

.register-bottom div.register {
  height: 14%;
  min-height: 25%;
}

div .register {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10%;
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  cursor: pointer;
}

div .register p {
  display: inline-block;
  text-align: center;
  width: 70%;
  margin: 10% 0;
}

img.img-logo-app {
  width: 15%;
  border-radius: 75px;
  display: inline-block;
}

div a {
  text-decoration: none;
  color: black;
}

/* Login */

.create-account,
.login-help {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  color: var(--celeste);
  cursor: pointer;
  margin-bottom: 8% auto 10%;
}

.login-help {
  border-top: 1px var(--grisOscuro) solid;
  margin-bottom: 1.15rem;
  padding: 20px;
}

@media (min-width: 768px) {
  body {
    background-size: cover;
  }

  img.logo {
    width: 80%;
    padding-left: 20px;
  }

  p.copy-login {
    padding-bottom: 5%;
  }

  h2.copy-register {
    padding-top: 5%;
  }

  .register p {
    font-size: 1.25rem;
  }

  .register-bottom .register p {
    margin: 8% 0;
  }
}

@media (min-width: 1080px) {
  body {
    background-size: cover;
  }

  div.top-header {
    padding-right: 50px;
    height: 110px;
  }

  img.logo {
    width: 100%;
    padding-left: 40px;
  }

  a.nav-button {
    display: none;
  }

  div.register {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  div.register-top {
    width: 200px;
    flex-grow: 0.5;
  }

  h2.copy-register {
    font-size: 20px;
  }

  div.register-bottom {
    width: 200px;
    flex-grow: 0.4;
    font-size: 16px;
    margin: auto 0;
  }

  footer {
    display: block;
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }

  div.conjunto-footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
  }

  .sector-descripcion {
    margin-left: 5%;
    margin-right: 5%;
  }

  .derechos-reserved {
    border-top: var(--grisOscuro) 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
  }
}

#exampleCheck1 {
  width: 5%;
}