/* HEADER BASE MOBILE */
:root {
  --blanco: #f0f0f0;
  --celeste: #0077c0;
  --azul: #0022aa;
  --negroClaro: #161616;
  --negroOscuro: #0e0e0e;
  --grisClaro: #dfdddd;
  --grisOscuro: #636262;
}

.mainheader-top {
  display: flex;
  justify-content: space-between;
  background-color: var(--celeste);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}

.pagina-logo {
  width: 25%;
  cursor: pointer;
  margin-left: 10%;
}

.hamburger-button {
  display: block;
  max-width: 50px;
  padding: 15px 0px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
  margin-right: 10%;
  color: black;
}

.hamburger-button:hover {
  color: white;
}

.nav-bar {
  display: none;
}

.nav-bar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav-bar a {
  text-decoration: none;
  display: inline-block;
  padding: 0 0px;
  font-size: 17px;
}

@media (min-width: 768px) {
  /* HEADER iPAD */

  div.top-header {
    padding-right: 50px;
    height: 110px;
  }

  .hamburger-button {
    font-size: 30px;
  }

  img.logo {
    width: 100%;
    padding-left: 40px;
  }
}

@media (min-width: 1080px) {
  .pagina-logo {
    margin-top: 2%;
    margin-left: 25%;
  }

  .mainheader-top {
    background-color: var(--celeste);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  }

  .nav-bar {
    display: block;
  }

  .nav-bar {
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-right: 10%;
    color: var(--blanco);
  }

  .welcome{
    padding: 0 20px;
    
  }

  .text-navbar {
    padding: 0 10px;
    text-align: center;
  }

  .text-navbar a {
    color: var(--blanco);
    font-size: 15px;
    display: block;
    font-weight: bold;
  }

  .text-navbar a:hover {
    color: white;
  }

  .text-navbar i {
    cursor: pointer;
    text-align: center;
    font-size: 25px;
  }

  .hamburger-button {
    display: none;
  }
}
.boton-cerrar-sesion {
  border-radius: 8px;
  background-color:rgba(255, 255, 255, 0.836);
  width: 150px;
  height: 30px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-left: 40px;
}
.boton-cerrar-sesion:hover {
  background-color: #bd0505d5;
  color: white;
}