* {
  font-family: "Roboto";
}

/*Productos Destacados*/

.productos-destacados {
  padding-top: 4vh;
}

article {
  position: relative;
  background-color: white;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  -moz-box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  transition: transform 0.2s;
  transition: all 400ms;
}

article:hover {
  -webkit-box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  -moz-box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  transform: scale(1.02);
  z-index: 10;
}

.caja-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 350px;
  width: 500px;
  padding: 8px;
  cursor: pointer;
}

.caja-producto a {
  margin-top: 2.5%;
}

.caja-producto img {
  width: 150px;
  height: 150px;
}

.caja-producto p {
  text-align: justify;
}

.caja-producto h3 {
  text-align: center;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.productos > article {
  margin: 20px;
}

.descripcion-producto {
  margin-top: 2%;
  border-top: rgb(187, 187, 187) 1px solid;
  width: 100%;
  padding: 0;
  position: relative;
}

#descripcion {
  margin-top: 5%;
  font-size: 16px;
}

.producto {
  width: 100%;
  padding: 15px;
  position: relative;
}

.producto p {
  text-align: center;
}

.descripcion-producto p {
  text-align: center;
}

.caja-producto:hover h5 {
  visibility: visible;
}

.descripcion-producto h5 {
  text-align: center;
  visibility: hidden;
  transition: all 200ms;
}

p {
  left: 5px;
  font-size: 20px;
}
h1,
h4 {
  text-align: center;
}

article .imagen-producto {
  margin-top: 5%;
  margin-bottom: 1%;
  width: 230px;
  padding-left: 5%;
  padding-right: 5%;
  border: 2px solid grey;
  border: none;
}

#informacion {
  color: red;
  visibility: hidden;
}

article:hover #informacion {
  visibility: visible;
  cursor: pointer;
}

figure {
  position: absolute;
  top: 0;
  right: 0;
}

#icono-heart {
  position: absolute;
  top: 8px;
  right: 15px;
  color: grey;
  visibility: hidden;
}

article:hover #icono-heart {
  visibility: visible;
  cursor: pointer;
}

#icono-heart:hover {
  color: red;
}

figcaption {
  display: none;
  transition: all 0.5s;
  visibility: hidden;
  position: absolute;
  top: 45px;
  right: 10px;
  font-size: 10px;
}

figure:hover > figcaption {
  display: block;
  transition: all 0.5s;
  visibility: visible;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/*Banner*/

.banner {
  display: flex;
  height: 644px;
}

.banner-item {
  flex: 1;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex-grow 600ms;
}

.banner-item:hover {
  flex-grow: 8;
  max-height: 644px;
}

.banner-item:hover .banner-title {
  transform: rotate(0);
}

.banner-item:nth-child(1) {
  background-image: url(../images/banner1-2.jpg);
  background-repeat: no-repeat;
  background-position: center 10%;
}

.banner-item:nth-child(2) {
  background-image: url(../images/banner2.webp);
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-item:nth-child(3) {
  background-image: url(../images/banner3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.banner-item:nth-child(4) {
  background-image: url(../images/banner4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.banner-title {
  margin: 0;
  transform: rotate(-90deg);
  transition: transform 0.2s 0.2s;
  font-size: 20px;
  text-align: center;
}

/*Tarjetas clientes*/
.section-clientes {
  display: flex;
  justify-content: center;
}

.container-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  flex-wrap: wrap;
}

.container-card > .card-wrap {
  margin-right: 50px;
}

.card-wrap {
  margin: 10px;
  perspective: 800px;
  width: 293px;
  height: 472px;
}

.card-wrap:hover .card-slide {
  transform: rotateY(180deg);
}

.card1 {
  background-image: url("../images/imagen-tarjeta.jpg");
  background-size: cover;
  background-position: center;
}

.card2 {
  background-image: url("../images/tarjeta3.jpg");
  background-size: cover;
  background-position: center;
}

.card3 {
  background-image: url("../images/tarjeta2.jpg");
  background-size: cover;
  background-position: center;
}

.card-slide {
  width: 400px;
  height: 472px;
  background: #f29720;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s ease;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

.adelante-box,
.atras-box {
  position: absolute;
  width: 100%;
  height: 470px;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.atras-box {
  transform: rotateY(180deg);
  background: gray;
}

.card-slide:hover {
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.75);
}

/*Tarjeta espalda*/

.cajon-referencias {
  margin-top: 5%;
  margin-bottom: 5%;
}

.marcas-promos {
  background-color: #dfdddd;
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  max-width: 100%;
  justify-content: center;
}

.marcas-promos img {
  display: block;
  margin: auto;
  width: 80%;
}

.card {
  position: relative;
  background-color: #fff;
  height: 460px;
  width: 296px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #fff;
  box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
}

section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.box {
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(106.32deg, #f3a60f 14.23%, rgba(255, 25, 25, 0) 139.97%);
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.rating i {
  font-size: 18px;
  margin: 0 2px;
}

.rating i:hover {
  color: orange;
}

section .card .about {
  display: flex;
  text-align: center;
  color: #444;
  margin-top: 10px;
}

.about p {
  font-size: 15px;
  color: black;
}
@media (max-width: 450px) {
  .banner-title {
    font-size: 10px;
  }
}
/*Para tablet*/
@media (min-width: 768px) {
  .productos {
    flex-direction: row;
  }
  .caja-producto {
    width: 348px;
  }
}
@media (min-width: 1080px) {
  .caja-producto {
    height: 350px;
    width: 500px;
  }
}
