<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Turisfront</title>

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-top">
      <img class="logo" src="images/logo" alt="Logo del proyecto">
      <div class="home">
        <button class="boton-home" type="submit"><i class="fas fa-home"><br>Home</i></button>
        <button class="boton-perfil" type="submit"><i class="fas fa-user-friends"><br>Mi
            perfil</i></button>
        <button class="boton-carrito" type="submit"><i class="fas fa-shopping-cart"><br>Mi
            cesta</i></button>
        </i>

      </div>
    </div>


  </header>

</body>

</html>