<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Turisfront</title>

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="header-top">
      <img class="logo" src="images/logo" alt="Logo del proyecto">
      <div class="home">
        <button class="boton-header" type="submit"><i class="fas fa-home">
          </i><span>HOME</span></button>
        <button class="boton-header" type="submit"><i class="fas fa-user-friends"></i><span>MI PERFIL</span></button>
        <button class="boton-header" type="submit"><i class="fas fa-shopping-cart"></i><span>MI CESTA</span></button>
        </i>

      </div>
    </div>
  </header>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="images/banner1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="images/banner2.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/banner3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <main>
    <section class="productos-destacados">
      <h1>Productos destacados</h1>
      <div class="productos">
        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

        <article class="caja-producto">
          <img src="images/botas.jpg">
          <div class="descripcion-producto">
            <h3>Botas de montaña</h3>
            <p> Calzado sencillo, muy ligero, cómodo y de suela muy flexible.<br>
              Suele ser calzado de caña baja tipo deportiva, con escasa o
              ninguna sujeción del tobillo diseñado principalmente para caminatas<br></p>
            <p>$140.000</p>
            <h3>Mas info >></h3>
          </div>
        </article>

      </div>
    </section>
  </main>

  <div>
    <h1>Clientes Satisfechos</h1>
  </div>

  <div>
    <h1>Redes sociales</h1>
    <div id="redesSociales">
      <a class="red facebook" href="https://www.facebook.com/">Uno</a>
      <a class="red twitter" href="https://twitter.com/?lang=es">Dos</a>
      <a class="red instagram" href="https://www.instagram.com/">Tres</a>
      <a class="red email" href="https://www.google.com/intl/es-419/gmail/about/">Cuatro</a>
    </div>
  </div>

  <footer>
    &copy; Copyright 2022 Curso DigitalHouse

  </footer>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>