<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Turisfront</title>

  <link rel="stylesheet" href="css/carrito-styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>

<body>
  <div>Carrito</div>
  <div class="carrito-contenedor">
    <div class="item-carrito">
      <div class="item-carrito-body">
        <img class="imagen-productos" src="images/guantes-producto.avif" alt="">
        <h1 class="item-carrito-nombre">Nombre del producto</h1>

        <div class="contador-body">
          <p class="contar" id="contar">0</p>
          <div class="botones-item-carrito">
            <button class="incremento" id="incremento"><span class="material-icons-round">add</span></button>
            <button class="decremento" id="decremento"><span class="material-icons-round">remove</span></button>
            <button class="reset" id="reset"><span class="material-icons-round">cached</span></button>

          </div>
        </div>
      </div>
      <button class="eliminar">Eliminar</button>
      <button class="comprar">comprar ahora</button>
    </div>

  </div>


</body>
<script>
  const contador = document.getElementById("contar");
  const sumar = document.getElementById("incremento");
  const restar = document.getElementById("decremento");
  const reset = document.getElementById("reset");

  let numero = 0;

  sumar.addEventListener("click", () => {
    numero++;
    contador.innerHTML = numero;
  });
  restar.addEventListener("click", () => {
    if (numero == 0) { }
    else {
      numero--;
      contador.innerHTML = numero;
    }
  });
  reset.addEventListener("click", () => {
    numero = 0;
    contador.innerHTML = numero;
  });
</script>

</html>