<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Turisfront</title>

  <link rel="stylesheet" href="css/carrito-styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
  <div>Carrito</div>
  <div class="carrito-contenedor">
    <div class="item-carrito">
      <div class="item-carrito-body">
        <img class="imagen-productos" src="images/guantes-producto.avif" alt="">
        <h1 class="item-carrito-nombre">Nombre del producto</h1>
      </div>
      <button>Eliminar</button>
      <button>comprar ahora</button>
    </div>
  </div>

</body>

</html>