body {
  font-family: "Roboto";
  background-color: #e4e4e4;
}
.carrito-contenedor {
  width: 100%;
  height: 500px;
}
.imagen-productos {
  margin: 20px;
  width: 20%;
  max-width: 115px;
  height: 20%;
  margin-top: 15px;
  text-align: center;
}
.item-carrito {
  background-color: rgb(246, 248, 248);
  border: 2px solid grey;
  border-radius: 5px;
}

.item-carrito-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item-carrito-body > div {
  margin-left: 10px;
}
.item-carrito-nombre {
  font-size: 40px;
  width: 59%;
  height: 100px;
  text-align: left;
}

.contador-body {
  padding-left: 8px;
  position: relative;
  width: 12%;
  height: 70px;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;

  border-radius: 27px;
}
.item-carrito-titulo {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}
.contar {
  font-size: 5rem;
  text-align: center;
}
.botones-item-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botones-item-carrito button {
  width: 30px;
  height: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  background: white;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 3px;
  padding-bottom: 4px;
}
span {
  color: black;
}
.reset {
  width: 50px;
  height: 25px;
}
.eliminar {
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(219, 76, 76);
  color: white;
  border: none;
  margin: 10px;
}
.comprar {
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  background-color: #3483fa;
  color: white;
  border: none;
}
/*Para celulares*/
@media (max-width: 768px) {
  .item-carrito-nombre {
    font-size: 18px;
    width: 30%;
  }
  .contador-body {
    width: 30%;
  }
}

/*Para tablet falta*/
@media only screen and (min-width: 768px) {
}

/* / Large devices (laptops/desktops, 992px and up) / */
@media only screen and (min-width: 992px) {
}
