/*Header*/

header {
  background-color: #0077c0;
}
.mainheader-top {
  display: flex;
  justify-content: space-between;
  height: 141px;
  /*  border-bottom: solid black 1px; */
}
.pagina-logo {
  width: 125px;
  cursor: pointer;
  margin-left: 5%;
}
.botones-header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-right: 15px;
}
.botones-header > a {
  margin-right: 10px;
}

.boton-header {
  text-align: center;
  border: none;
  background-color: transparent;
}

.boton-header i:hover,
.boton-header span:hover {
  color: white;
}

.boton-header span {
  font-size: 14px;
  display: block;
  color: white;
}

i {
  font-size: 30px;
  color: white;
}

.logo {
  display: block;
  width: 8%;
  height: 120px;
  margin-left: 30px;
  margin-top: 1.8vh;
}

.home ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.home a {
  text-decoration: none;
  color: #404040;
  display: inline-block;
  padding: 5px 0px;
  font-size: 17px;
}

h1,
h4 {
  text-align: center;
}
.burger-menu {
  display: block;
  color: red;
  background-color: #03264c;
  margin: auto;
  width: fit-content;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8%;
  cursor: pointer;
  text-align: center;
}
.burger-menu i {
  color: white;
}
.burger-menu {
  margin-top: 5px;
}

/*Para celulares*/

@media (min-width: 450px) {
  div.top-header {
    padding-right: 50px;
    height: 110px;
  }

  img.logo {
    width: 100%;
    padding-left: 40px;
  }

  .hamburger-button {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .botones-header {
    display: none;
  }
  .banner-item {
    width: 20%;
  }
  .hamburger-button {
    margin-top: 40px;
    margin-right: 20px;
  }
  .footer-container {
    flex-direction: column;
  }
}

/*Para tablet falta*/
@media only screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

/* / Large devices (laptops/desktops, 992px and up) / */
@media only screen and (min-width: 992px) {
}

@media (min-width: 1080px) {
  .nav-bar {
    display: block;
  }

  .hamburger-button {
    display: none;
  }

  .nav-bar {
    list-style: none;
    display: flex;
    margin: 5% 5% 0 0;
    color: var(--blanco);
    margin-right: 15%;
  }
}
