/*Header*/

.mainheader-top {
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
}
header {
  background-color: #0077c0;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.boton-header {
  border: none;
  background-color: transparent;
}

.boton-header i:hover,
.boton-header span:hover {
  color: white;
}

.boton-header span {
  font-size: 14px;
  display: block;
  color: white;
}

i {
  font-size: 30px;
  color: white;
}

.logo {
  display: block;
  width: 250px;
  height: 100px;
  margin: left;
  margin-top: 1.8vh;
}

.home {
  padding: 40px;
}

.home ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.home a {
  text-decoration: none;
  color: #404040;
  display: inline-block;
  padding: 5px 0px;
  font-size: 17px;
}

h1,
h4 {
  text-align: center;
}
.burger-menu {
  display: block;
  color: white;
  background-color: #03264c;
  margin: auto;
  width: fit-content;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8%;
  cursor: pointer;
  text-align: center;
}
.burger-menu i {
  color: white;
}
.burger-menu {
  margin-top: 5px;
}
/*Para celulares*/
@media (max-width: 768px) {
  .banner-item {
    width: 20%;
  }
  .home {
    display: none;
  }
  .footer-container {
    flex-direction: column;
  }
}

/*Para tablet falta*/
@media only screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .productos > article {
    margin: 5px;
  }
  .caja-producto {
    width: 357px;
  }
}

/* / Large devices (laptops/desktops, 992px and up) / */
@media only screen and (min-width: 992px) {
  .productos > article {
    margin: 16px;
  }
  .caja-producto {
    width: 440px;
  }
}
