* {
}
header {
  background-color: black;
}
.header-top {
  display: flex;
  justify-content: space-between;
}

.boton-header {
  border: none;
  background-color: transparent;
}
.boton-header span {
  font-size: 14px;
  display: block;
  color: blue;
}
i {
  font-size: 30px;
  color: blue;
}

.logo {
  width: 150px;
  height: 100px;
  padding: 6px;
}
.home {
  padding: 40px;
}
