* {
}
/*Header*/
header {
  background-color: grey;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.boton-header {
  border: none;
  background-color: transparent;
}
.boton-header i:hover,
.boton-header span:hover {
  color: white;
}
.boton-header span {
  font-size: 14px;
  display: block;
  color: blue;
}

i {
  font-size: 30px;
  color: blue;
}

.logo {
  width: 150px;
  height: 100px;
  padding: 6px;
}
.home {
  padding: 40px;
}

h1 {
  text-align: center;
}
/*Productos Destacados*/
article {
  background-color: white;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  -moz-box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  box-shadow: 0px 1px 18px 3px rgba(191, 191, 191, 255);
  transition: transform 0.2s;
}
article:hover {
  -webkit-box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  -moz-box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  box-shadow: 0px 2px 5px 8px rgba(143, 141, 143, 1);
  transform: scale(1.2);
}
.caja-producto {
  display: flex;
  border-radius: 5px;
  height: 300px;
  width: 500px;
  padding: 8px;
}
.caja-producto img {
  margin-top: 40px;
  width: 150px;
  height: 150px;
}
.caja-producto p {
  text-align: justify;
}
.caja-producto h3 {
  text-align: center;
}
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productos > article {
  margin: 20px;
}
.descripcion-producto {
  margin: px;
}
/*Banner*/

.banner {
  display: flex;
  background: yellow;
  height: 400px;
}
.banner-item {
  flex: 1;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex-grow 0.2s;
}
.banner-item:hover {
  flex-grow: 8;
}
.banner-item:hover .banner-title {
  transform: rotate(0);
}
.banner-item:nth-child(1) {
  background-image: url(../images/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center 10%;
}
.banner-item:nth-child(2) {
  background-image: url(../images/banner2.webp);
  background-repeat: no-repeat;
  background-position: center center;
}
.banner-item:nth-child(3) {
  background-image: url(../images/banner3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.banner-item:nth-child(4) {
  background-image: url(../images/banner4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.banner-title {
  margin: 0;
  transform: rotate(-90deg);
  transition: transform 0.2s 0.2s;
  font-size: 35px;
}
/*footer*/
footer {
  text-align: center;
  font-weight: bolder;
}
/*Redes Sociales*/
#redesSociales {
  width: 64px;
  height: 64px;
  border-radius: 75px;
  border: 5px solid #fff;
  background: url(https://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg);
}
.red {
  position: absolute;
  -webkit-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -moz-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  -o-transition: left 0.5s cubic-bezier(0.1, 0.8, 0.9, 1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 100;
  margin: 10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left: 3px;
}
#redesSociales:hover .red {
  opacity: 1;
  transform: translate(0px, 0);
  -webkit-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  margin: 10px 0px 0px 20px;
  position: absolute;
}
#redesSociales:hover .red:nth-child(1) {
  position: absolute;
  left: 65px;
}

#redesSociales:hover .red:nth-child(2) {
  position: absolute;
  left: 110px;
}
#redesSociales:hover .red:nth-child(3) {
  position: absolute;
  left: 155px;
}
#redesSociales:hover .red:nth-child(4) {
  position: absolute;
  left: 200px;
}
#redesSociales:hover .red:nth-child(5) {
  position: absolute;
  left: 245px;
}

#redesSociales:hover .red:nth-child(6) {
  position: absolute;
  left: 290px;
}

.red.facebook {
  background: url(https://4.bp.blogspot.com/-49s_0_9mdVo/UWHsMIvJBNI/AAAAAAAABn8/6bVMlN4Qz7Y/s1600/bubble_facebook_share_button.png);
}
.red.twitter {
  background: url(https://2.bp.blogspot.com/-3r8sHe1Qy5M/UWHsNMDDzHI/AAAAAAAABog/q3V7mYirmOY/s1600/bubble_twitter_share_button.png);
}
.red.email {
  background: url(https://3.bp.blogspot.com/-ZhFqBhp79cA/UWHsMBmPxsI/AAAAAAAABn4/O8k_pGf1oCU/s1600/bubble_email_share_button.png);
}
.red.instagram {
  background: url(https://1.bp.blogspot.com/-FSkby0cXU_8/UWHsMis8c2I/AAAAAAAABoQ/y8coyc5ystc/s1600/bubble_instagram_share_button.png);
}
.red:hover {
  background-position: 0 -46px;
}
