body{
    margin:0;
    background-image: url('/images/img-register.jpg');
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.712);
    border-bottom: 1px solid #9c9d9e;
}

a.home{
    width: 120px;
}

img.logo{
    width: 75%;
    padding-left: 20px;
}

a.nav-button{
    padding-right: 25px;   
}

a.nav-button i{
    font-size: 25px;
    color:black
}

div.register{
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    background-color: white;
}

h2.copy-register{
    padding-left: 10%;
    margin-top: 10%;
}

form.form-register{
    margin: auto
}

form.form-register div {
    width: 83%;
    margin: auto;
     
}

form.form-register div input{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #a8a8a8 ;
    border-radius: 10px;
    background-color: white;
}

form.form-register div.button {
    width: 85%;
}


form.form-register div button{
    width: 100%;
    height: 40px;
    margin-top:20px;
    border: 1px solid #0077C0 ;
    border-radius: 10px;
    color: white;
    background-color: #0077C0;
    font-weight: bold;
}

div p.register{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin:10%;
    padding: 5px;
}

div a{
    text-decoration: none;
    color: black;
}

img.img-logo-app{
    width: 15%;
    margin:5%;
    border: 1px solid white;
    border-radius: 75px;
}