:root {
  --blanco: #f0f0f0;
  --celeste: #0077c0;
  --azul: #0022aa;
  --negroClaro: #161616;
  --negroOscuro: #0e0e0e;
  --grisClaro: #dfdddd;
  --grisOscuro: #636262;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-image: url("/images/img-register.jpg");
}

div.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.712);
  border-bottom: 1px solid #9c9d9e;
}

a.home {
  width: 120px;
}

a.nav-button {
  padding-right: 25px;
}

a.nav-button i {
  font-size: 25px;
  color: black;
}

ul.nav-bar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 0;
}

ul.nav-bar li {
  list-style-type: none;
  padding: 10px;
  margin-right: 30px;
}

ul.nav-bar li a {
  font-size: 18px;
  transition: border-bottom 100ms;
}

ul.nav-bar li a:hover {
  border-bottom: 3px solid #0077c0;
}

div.register-top {
  border-radius: 10px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.733);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
}

h2.copy-register {
  padding-left: 10%;
  margin-top: 10%;
}

form.form-register {
  margin: auto;
}

form.form-register div {
  width: 83%;
  margin: auto;
}

form.form-register div input {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background-color: white;
}

form.form-register div.button {
  width: 85%;
}

form.form-register div button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: 1px solid #0077c0;
  border-radius: 10px;
  color: white;
  background-color: #0077c0;
  font-weight: bold;
}

p.copy-login {
  text-align: center;
  margin: 20px 0;
}

a.login-button {
  text-decoration: underline;
  color: #0077c0;
}

div .register {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10%;
  background-color: rgba(255, 255, 255, 0.712);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
  cursor: pointer;
}

div .register p{
    display: inline-block;
    text-align: center;
    width: 70%;
}

img.img-logo-app {
  width: 15%;
  margin: 5%;
  border: 1px solid white;
  border-radius: 75px;
  display: inline-block;
}

div a {
    text-decoration: none;
    color: black;
  }

/* Login */

.create-account,
.login-help {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  color: var(--celeste);
  cursor: pointer;
  margin-bottom: 40px;
}

.login-help {
  border-top: 1px var(--grisOscuro) solid;
  margin-bottom: 1.15rem;
  padding: 1.15rem 1.15rem 0;
}

/* Phone : ancho hasta 599px */
@media (width <= 599px) {
  ul.nav-bar {
    display: none;
  }

  img.logo {
    width: 80%;
    padding-left: 20px;
  }

  .register p{
    font-size: 1.25rem;
} 
  
}

/* Tablets : ancho de 600 px a 899px */
@media (600px <= width <= 899px) {
    .register p{
        font-size: 1.25rem;
    } 
}

/* Laptop - Desktop : ancho mayor a 900 px */
@media (width >= 900px) {
  div.top-header {
    padding-right: 50px;
    height: 110px;
  }

  img.logo {
    width: 100%;
    padding-left: 40px;
  }

  a.nav-button {
    display: none;
  }

  div.register {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  div.register-top {
    width: 200px;
    flex-grow: 0.5;
    padding-bottom: 15px;
  }

  h2.copy-register {
    font-size: 20px;
  }

  div.register-bottom {
    width: 200px;
    flex-grow: 0.4;
    font-size: 16px;
    margin: auto 0;
  }
}
